@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Righteous&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,600;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family:'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    /*me permite deslizar cuando hago clic en los links del menu*/
    scroll-behavior: smooth;
}

/*************MENU***************/
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .3s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}

.nav-responsive{
    background-color: #1CB698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/*************SESION INICIO****************/

.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}


.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2{
font-size: 15px;
font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;

}

/**************FOTO DEL GATO *************/
.cat{
    position: absolute;
    width: 200px;
    top: 145%;
    left: 15%;
    animation: float 3.2s ease-in-out infinite;
}



@keyframes float{
0%{
transform: translateY(0px);
}
50%{
    transform: translateY(-80px);
}
100%{
    transform: translateY(0px);
}
}




/************SOBRE MI**************/

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay{
    width: 100%;
}
/****************SECCION SKILLS*************************/

.wrapper2{
    display: block;
    justify-content: center;
    padding: 120px;
    background-color: #1e2326;
    color: #fff;
    padding: 150px 50px;
}

.android{
     display: inline-block;
     max-width: 1100px;
     margin: 10px;  
}
.wrapper2 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 1;
}


.wrapper2 h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align:center;
    padding: 20px;
}



/********************SECCION PORTAFOLIO***************************/
.portafolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 50px;
}

.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.portafolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align:center;
    padding: 20px 0;
}

.portafolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portafolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
    width: 350px;
}

.portafolio .galeria .proyecto img{
    background-color: #15191b;
    width: 100%;
    height: 210px;
    display: block;
}

.portafolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 182, 151, 0.89),rgba(28, 182, 151, 0.89));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 700;
    opacity: 0;
}

.portafolio .galeria .proyecto .overlay h3{
    margin-bottom:  20px;
    transition: 1s;
}

.portafolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}

.portafolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

/***********SECCION FORMULARIO**************/

.formulario{
    background-color: #15191b;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-content{
    background: linear-gradient(
        50deg,
        rgba(40,42,55,.1)50%,
        rgba(40,42,55,0.7)),
        url(img/fondo.jpg);/*tiene una imagen de fondo.*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
        width: 1000px;
        border-radius: 25px;
}

.form-content h2{
    color: #F4F6F9;
    font-size: 40px;
    margin-bottom: 25px;
    
    font-family: 'Righteous';
}

form{
    display:flex;
    flex-direction: column;
    width: 50%;
}

label{
    font-size: 17px;
    color: #959AAB;
    margin-bottom: 10px;
}

input,textarea{
    padding: 17px 14px;
    background-color: #333646;
    border: 0;
    font-size: 15px;
    color: #F4F6F9;
    margin-bottom: 20px;
    border-radius: 10px;
}

:focus{
    outline: 1px solid #1CB698;
}

#btn{
margin-top: 10px;
background-color:#636363 ;
border: #fff solid 1px;
width: 150px;
align-self: flex-end;
cursor: pointer;
}

#btn:hover{
    background-color: #1CB698 ;
}




/***********SECCION FOOTER****************/
footer{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes{
    margin-bottom: 20px;
}

footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;    
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size:18px ;
}

/*****AJUSTES MODAL****/
.modal-dialog .modal-content{
    width: 550px;
    margin: auto;
    background-color: #252A2E;
    color: #fff;
}
.modal-dialog .modal-content p{
    padding: 15px;
}
.modal-dialog a img{
    width: 100%;
}
.proyecto .overlay a{
text-decoration: none;
font-size: 15px;
color: #1e2326;
}
 .proyecto .overlay a:hover{
    color: #00a2ff;
    }


/******************************************SECCION RESPONSIVE***************************************************************/
@media screen and (max-width:980px) {
nav{
    display: none;
}

.nav-responsive{
    display: block;
}

nav.responsive{
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #252A2E;
    width: 180px;
}
nav.responsive ul{
    display: block !important;
    
}
nav.responsive ul li{
  border-bottom: 1px solid #fff;
  padding:10px 0 ;
}

.formulario{
    padding: 30px;
}

.form-content{
    width: 100%;
}

form{
    width: 100%;
}

}

/************responsive 2*************/

@media screen and (max-width:700px){
.portafolio .galeria{
    display: block;
    width: 100%;
}
.portafolio .galeria .proyecto{
    max-width: 100%;
}

.portafolio .galeria .proyecto img{
    width: 100%;
}

.cat{
    width: 150px;
    top: 158%;
    left: 33%;
}
.modal-dialog .modal-content{
    width: 350px;
    
}

}